In [22]:
import pandas as pd


#df = pd.read_csv('finanzas-hotel-bookings.csv', index_col=0)
pd.set_option('display.max_columns', None)

In [2]:
df['meal'].unique()

NameError: name 'df' is not defined

In [ ]:
df.head()

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,babies,meal,country,market_segment,distribution_channel,is_repeated_guest,previous_cancellations,previous_bookings_not_canceled,reserved_room_type,assigned_room_type,booking_changes,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,0
0,Resort Hotel,False,342.0,2015.0,July,27.0,1.0,0.0,0.0,2.0,NaN,0.0,BB,PRT,NaN,Direct,0.0,NaN,0.0,C,C,3.0,NaN,NaN,0.0,Transient,0.0,0.0,0.0,Check-Out,2015-07-01 00:00:00,NaN
1,Resort Hotel,False,737.0,NaN,July,27.0,1.0,0.0,0.0,2.0,NaN,0.0,BB,NaN,NaN,Direct,0.0,0.0,0.0,NaN,C,4.0,NaN,NaN,0.0,Transient,0.0,0.0,0.0,Check-Out,2015-07-01 00:00:00,NaN
2,Resort Hotel,False,7.0,2015.0,July,27.0,1.0,0.0,1.0,1.0,0.0,0.0,BB,GBR,NaN,Direct,0.0,0.0,0.0,A,C,0.0,NaN,NaN,0.0,Transient,75.0,0.0,0.0,Check-Out,2015-07-02 00:00:00,NaN
3,Resort Hotel,False,13.0,NaN,July,27.0,1.0,0.0,1.0,1.0,NaN,0.0,BB,GBR,Corporate,Corporate,0.0,0.0,0.0,A,A,0.0,304.0,NaN,0.0,Transient,75.0,0.0,0.0,Check-Out,2015-07-02 00:00:00,NaN
4,Resort Hotel,False,14.0,NaN,July,NaN,1.0,0.0,2.0,2.0,NaN,0.0,BB,NaN,Online TA,TA/TO,0.0,0.0,0.0,A,A,0.0,240.0,NaN,0.0,Transient,98.0,0.0,1.0,Check-Out,2015-07-03 00:00:00,NaN

In [ ]:
def exploracion_basica(lista_df):
    for df in lista_df:
       display(df.head())
       print(df.shape)
       print('')
       print(df.isnull().sum()/df.shape[0]*100)
       print('')
       for columna in df.columns:
        print(df[columna].duplicated().sum()/df.shape[0]*100)
       print('')
       print(df.dtypes)
       for columna in df.select_dtypes(include='O'):
        print(df[columna].value_counts())
        print('')

In [ ]:
df['lead_time'].value_counts()

lead_time
0.000000      6345
1.000000      3460
2.000000      2069
3.000000      1816
4.000000      1715
              ...
359.478372       1
310.531535       1
207.269543       1
274.258844       1
341.238166       1
Name: count, Length: 579, dtype: int64

In [ ]:
exploracion_basica([df])

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,babies,meal,country,market_segment,distribution_channel,is_repeated_guest,previous_cancellations,previous_bookings_not_canceled,reserved_room_type,assigned_room_type,booking_changes,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,0
0,Resort Hotel,False,342.0,2015.0,July,27.0,1.0,0.0,0.0,2.0,NaN,0.0,BB,PRT,NaN,Direct,0.0,NaN,0.0,C,C,3.0,NaN,NaN,0.0,Transient,0.0,0.0,0.0,Check-Out,2015-07-01 00:00:00,NaN
1,Resort Hotel,False,737.0,NaN,July,27.0,1.0,0.0,0.0,2.0,NaN,0.0,BB,NaN,NaN,Direct,0.0,0.0,0.0,NaN,C,4.0,NaN,NaN,0.0,Transient,0.0,0.0,0.0,Check-Out,2015-07-01 00:00:00,NaN
2,Resort Hotel,False,7.0,2015.0,July,27.0,1.0,0.0,1.0,1.0,0.0,0.0,BB,GBR,NaN,Direct,0.0,0.0,0.0,A,C,0.0,NaN,NaN,0.0,Transient,75.0,0.0,0.0,Check-Out,2015-07-02 00:00:00,NaN
3,Resort Hotel,False,13.0,NaN,July,27.0,1.0,0.0,1.0,1.0,NaN,0.0,BB,GBR,Corporate,Corporate,0.0,0.0,0.0,A,A,0.0,304.0,NaN,0.0,Transient,75.0,0.0,0.0,Check-Out,2015-07-02 00:00:00,NaN
4,Resort Hotel,False,14.0,NaN,July,NaN,1.0,0.0,2.0,2.0,NaN,0.0,BB,NaN,Online TA,TA/TO,0.0,0.0,0.0,A,A,0.0,240.0,NaN,0.0,Transient,98.0,0.0,1.0,Check-Out,2015-07-03 00:00:00,NaN

(182877, 32)

hotel                             34.715683
is_canceled                       34.715683
lead_time                         34.661002
arrival_date_year                 64.550490
arrival_date_month                34.715683
arrival_date_week_number          44.769435
arrival_date_day_of_month         34.780754
stays_in_weekend_nights           34.661002
stays_in_week_nights              34.661002
adults                            34.694904
children                          62.104584
babies                            34.693264
meal                              34.715683
country                           64.427457
market_segment                    67.227153
distribution_channel              42.092773
is_repeated_guest                 37.457417
previous_cancellations            58.317339
previous_bookings_not_canceled    34.715683
reserved_room_type                56.651192
assigned_room_type                34.715683
booking_changes                   34.700372
agent                             43.650650
company                           97.883824
days_in_waiting_list              34.715683
customer_type                     48.490515
adr                               34.715683
required_car_parking_spaces       34.715683
total_of_special_requests         34.715683
reservation_status                34.715683
reservation_status_date           41.756481
0                                 76.513722
dtype: float64

99.99835955314228
99.99835955314228
99.68284694084002
99.99781273752303
99.99125095009214
99.97047195656097
99.98250190018427
99.93547575692952
99.92563307578317
99.98304871580352
99.99179776571138
99.99179776571138
99.99671910628454
99.91032223844442
99.99507865942682
99.99671910628454
99.99835955314228
99.98797005637668
99.95953564417614
99.99398502818835
99.99289139694987
99.98742324075745
99.81736358317339
99.82994034241595
99.92946078511787
99.99726592190379
95.14427730113682
99.99671910628454
99.99617229066531
99.99781273752303
99.45755890571259
99.1311099810255

hotel                              object
is_canceled                        object
lead_time                         float64
arrival_date_year                 float64
arrival_date_month                 object
arrival_date_week_number          float64
arrival_date_day_of_month         float64
stays_in_weekend_nights           float64
stays_in_week_nights              float64
adults                            float64
children                          float64
babies                            float64
meal                               object
country                            object
market_segment                     object
distribution_channel               object
is_repeated_guest                 float64
previous_cancellations            float64
previous_bookings_not_canceled    float64
reserved_room_type                 object
assigned_room_type                 object
booking_changes                   float64
agent                             float64
company                           float64
days_in_waiting_list              float64
customer_type                      object
adr                               float64
required_car_parking_spaces       float64
total_of_special_requests         float64
reservation_status                 object
reservation_status_date            object
0                                  object
dtype: object
hotel
City Hotel      79330
Resort Hotel    40060
Name: count, dtype: int64

is_canceled
False    75166
True     44224
Name: count, dtype: int64

arrival_date_month
August       13877
July         12661
May          11791
October      11160
April        11089
June         10939
September    10508
November      6794
December      6780
March         5922
February      4898
3             3872
January       3581
2             3170
1             2348
Name: count, dtype: int64

meal
BB           92310
HB           14463
SC           10650
Undefined     1169
FB             798
Name: count, dtype: int64

country
PRT    26577
GBR     6585
FRA     5756
ESP     4712
DEU     3972
       ...
LIE        1
NIC        1
GGY        1
FJI        1
UMI        1
Name: count, Length: 163, dtype: int64

market_segment
Online TA        28331
Offline TA/TO    12116
Groups           10008
Direct            6354
Corporate         2643
Complementary      363
Aviation           118
Undefined            1
Name: count, dtype: int64

distribution_channel
TA/TO        86822
Direct       12997
Corporate     5899
GDS            176
Undefined        5
Name: count, dtype: int64

reserved_room_type
A    57202
D    12637
E     4345
F     1907
G     1375
B      746
C      625
H      428
P        6
L        4
Name: count, dtype: int64

assigned_room_type
A    74053
D    25322
E     7806
F     3751
G     2553
C     2375
B     2163
H      712
I      363
K      279
P       12
L        1
Name: count, dtype: int64

customer_type
Transient          70610
Transient-Party    19839
Contract            3290
Group                460
Name: count, dtype: int64

reservation_status
Check-Out    75166
Canceled     43017
No-Show       1207
Name: count, dtype: int64

reservation_status_date
2015-10-21 00:00:00    1298
2015-07-06 00:00:00     732
2016-11-25 00:00:00     692
2015-01-01 00:00:00     678
2016-01-18 00:00:00     562
                       ...
2029-04-31                1
2022-09-31                1
2029-02-30                1
2029-06-31                1
2024-11-31                1
Name: count, Length: 991, dtype: int64

0
0.0        12780
2.0         2363
1.0         2121
A           1771
BB          1257
           ...
48.2           1
149.5          1
68.07          1
153.07         1
4/02/17        1
Name: count, Length: 1588, dtype: int64

In [ ]:
import numpy as np

In [ ]:
df[df['0'] != 'NaN'].sample(20)

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,babies,meal,country,market_segment,distribution_channel,is_repeated_guest,previous_cancellations,previous_bookings_not_canceled,reserved_room_type,assigned_room_type,booking_changes,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,0
15147,Resort Hotel,False,11.0,2017.0,May,21.0,24.0,0.0,1.0,2.0,1.0,0.0,BB,IRL,Online TA,TA/TO,NaN,NaN,1.0,A,D,0.0,242.0,NaN,0.0,NaN,94.16,1.0,2.0,Check-Out,2017-05-25 00:00:00,NaN
128596,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
123694,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
152261,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0
111556,City Hotel,False,4.0,2017.0,May,19.0,11.0,0.0,1.0,2.0,NaN,0.0,SC,FRA,Online TA,NaN,0.0,0.0,0.0,A,A,0.0,9.0,NaN,0.0,Transient,150.00,0.0,0.0,Check-Out,2017-12-05 00:00:00,NaN
79491,City Hotel,False,12.0,2015.0,November,48.0,25.0,0.0,1.0,1.0,0.0,0.0,BB,NaN,NaN,NaN,1.0,0.0,1.0,A,A,0.0,NaN,NaN,0.0,Transient-Party,65.00,0.0,0.0,Check-Out,2015-11-26 00:00:00,NaN
95666,City Hotel,False,15.0,NaN,August,35.0,21.0,1.0,0.0,2.0,NaN,0.0,SC,ITA,Online TA,TA/TO,0.0,NaN,0.0,NaN,D,0.0,9.0,NaN,0.0,NaN,129.00,0.0,2.0,Check-Out,2016-08-22 00:00:00,NaN
158979,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
46163,City Hotel,True,4.0,2015.0,December,51.0,19.0,0.0,1.0,2.0,NaN,0.0,BB,PRT,NaN,TA/TO,0.0,0.0,0.0,B,B,0.0,9.0,NaN,0.0,NaN,154.50,0.0,0.0,Canceled,2015-12-15 00:00:00,NaN
95506,City Hotel,False,192.0,NaN,August,34.0,18.0,0.0,2.0,2.0,NaN,0.0,BB,NaN,Direct,Direct,0.0,0.0,0.0,D,D,0.0,14.0,NaN,0.0,NaN,113.40,0.0,0.0,Check-Out,2016-08-20 00:00:00,NaN
21531,Resort Hotel,False,6.0,2016.0,March,10.0,2.0,0.0,1.0,1.0,0.0,0.0,BB,PRT,NaN,TA/TO,0.0,NaN,0.0,NaN,D,1.0,240.0,NaN,0.0,Transient,43.00,0.0,0.0,Check-Out,2016-03-03 00:00:00,NaN
50134,City Hotel,True,146.0,2016.0,April,18.0,24.0,2.0,0.0,2.0,NaN,0.0,BB,PRT,Offline TA/TO,TA/TO,0.0,0.0,0.0,NaN,A,0.0,26.0,NaN,50.0,Transient,95.00,0.0,0.0,Canceled,2016-01-19 00:00:00,NaN
125793,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,August
93565,City Hotel,False,292.0,2016.0,July,NaN,21.0,0.0,2.0,2.0,NaN,0.0,HB,PRT,NaN,TA/TO,0.0,0.0,0.0,NaN,A,0.0,6.0,NaN,0.0,Transient-Party,115.00,0.0,0.0,Check-Out,2016-07-23 00:00:00,NaN
93023,City Hotel,False,90.0,NaN,July,NaN,13.0,0.0,3.0,2.0,NaN,0.0,HB,ESP,NaN,TA/TO,0.0,NaN,0.0,A,A,0.0,28.0,NaN,0.0,Transient,102.25,0.0,1.0,Check-Out,2016-07-16 00:00:00,NaN
126501,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
138710,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26970,Resort Hotel,False,131.0,2016.0,August,NaN,8.0,3.0,5.0,2.0,NaN,0.0,SC,PRT,NaN,TA/TO,0.0,0.0,0.0,A,I,1.0,240.0,NaN,0.0,Transient,10.50,0.0,2.0,Check-Out,2016-08-16 00:00:00,NaN
93479,City Hotel,False,1.0,NaN,July,30.0,21.0,0.0,1.0,1.0,0.0,0.0,BB,NaN,Corporate,Corporate,0.0,0.0,0.0,NaN,D,0.0,219.0,NaN,0.0,Transient,88.00,1.0,1.0,Check-Out,2016-07-22 00:00:00,NaN
38954,Resort Hotel,False,178.0,2017.0,July,30.0,24.0,3.0,8.0,3.0,NaN,0.0,HB,NaN,Direct,Direct,0.0,NaN,0.0,A,A,1.0,250.0,NaN,0.0,Transient,213.60,0.0,2.0,Check-Out,2017-08-04 00:00:00,NaN

In [ ]:
df.drop_duplicates(inplace=True)

In [ ]:
df['distribution_channel'].unique()

array(['Direct', 'Corporate', 'TA/TO', nan, 'Undefined', 'GDS'],
      dtype=object)

In [ ]:
exploracion_basica([df])

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,babies,meal,country,market_segment,distribution_channel,is_repeated_guest,previous_cancellations,previous_bookings_not_canceled,reserved_room_type,assigned_room_type,booking_changes,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,0
0,Resort Hotel,False,342.0,2015.0,July,27.0,1.0,0.0,0.0,2.0,NaN,0.0,BB,PRT,NaN,Direct,0.0,NaN,0.0,C,C,3.0,NaN,NaN,0.0,Transient,0.0,0.0,0.0,Check-Out,2015-07-01 00:00:00,NaN
1,Resort Hotel,False,737.0,NaN,July,27.0,1.0,0.0,0.0,2.0,NaN,0.0,BB,NaN,NaN,Direct,0.0,0.0,0.0,NaN,C,4.0,NaN,NaN,0.0,Transient,0.0,0.0,0.0,Check-Out,2015-07-01 00:00:00,NaN
2,Resort Hotel,False,7.0,2015.0,July,27.0,1.0,0.0,1.0,1.0,0.0,0.0,BB,GBR,NaN,Direct,0.0,0.0,0.0,A,C,0.0,NaN,NaN,0.0,Transient,75.0,0.0,0.0,Check-Out,2015-07-02 00:00:00,NaN
3,Resort Hotel,False,13.0,NaN,July,27.0,1.0,0.0,1.0,1.0,NaN,0.0,BB,GBR,Corporate,Corporate,0.0,0.0,0.0,A,A,0.0,304.0,NaN,0.0,Transient,75.0,0.0,0.0,Check-Out,2015-07-02 00:00:00,NaN
4,Resort Hotel,False,14.0,NaN,July,NaN,1.0,0.0,2.0,2.0,NaN,0.0,BB,NaN,Online TA,TA/TO,0.0,0.0,0.0,A,A,0.0,240.0,NaN,0.0,Transient,98.0,0.0,1.0,Check-Out,2015-07-03 00:00:00,NaN

(119837, 32)

hotel                              1.528743
is_canceled                        1.528743
lead_time                          1.445297
arrival_date_year                 46.574931
arrival_date_month                 1.528743
arrival_date_week_number          16.831196
arrival_date_day_of_month          1.628045
stays_in_weekend_nights            1.445297
stays_in_week_nights               1.445297
adults                             1.505378
children                          42.916628
babies                             1.502875
meal                               1.528743
country                           46.384673
market_segment                    50.566186
distribution_channel              12.765673
is_repeated_guest                  5.711091
previous_cancellations            37.273129
previous_bookings_not_canceled     1.528743
reserved_room_type                34.746364
assigned_room_type                 1.528743
booking_changes                    1.511219
agent                             15.005382
company                           96.788137
days_in_waiting_list               1.528743
customer_type                     22.468019
adr                                1.528743
required_car_parking_spaces        1.528743
total_of_special_requests          1.528743
reservation_status                 1.528743
reservation_status_date           12.254145
0                                 98.563048
dtype: float64

99.99749659954772
99.99749659954772
99.51600924589233
99.9966621327303
99.98664853092116
99.95493879185894
99.97329706184233
99.90153291554361
99.88651251282992
99.97413152865975
99.9874829977386
99.9874829977386
99.99499319909543
99.86314744194196
99.99248979864316
99.99499319909543
99.99749659954772
99.9816417300166
99.9382494555104
99.9908208650083
99.98915193137346
99.98080726319918
99.72128808297937
99.7404808197802
99.89235378055191
99.99582766591286
92.5899346612482
99.99499319909543
99.99415873227801
99.9966621327303
99.17220891711241
98.67403222710848

hotel                              object
is_canceled                        object
lead_time                         float64
arrival_date_year                 float64
arrival_date_month                 object
arrival_date_week_number          float64
arrival_date_day_of_month         float64
stays_in_weekend_nights           float64
stays_in_week_nights              float64
adults                            float64
children                          float64
babies                            float64
meal                               object
country                            object
market_segment                     object
distribution_channel               object
is_repeated_guest                 float64
previous_cancellations            float64
previous_bookings_not_canceled    float64
reserved_room_type                 object
assigned_room_type                 object
booking_changes                   float64
agent                             float64
company                           float64
days_in_waiting_list              float64
customer_type                      object
adr                               float64
required_car_parking_spaces       float64
total_of_special_requests         float64
reservation_status                 object
reservation_status_date            object
0                                  object
dtype: object
hotel
City Hotel      78066
Resort Hotel    39939
Name: count, dtype: int64

is_canceled
False    74883
True     43122
Name: count, dtype: int64

arrival_date_month
August       13751
July         12556
May          11637
October      10984
April        10955
June         10789
September    10338
December      6707
November      6660
March         5886
February      4841
3             3861
January       3558
2             3140
1             2342
Name: count, dtype: int64

meal
BB           91207
HB           14229
SC           10641
Undefined     1148
FB             780
Name: count, dtype: int64

country
PRT    25903
GBR     6570
FRA     5745
ESP     4697
DEU     3928
       ...
LIE        1
NIC        1
GGY        1
FJI        1
UMI        1
Name: count, Length: 163, dtype: int64

market_segment
Online TA        28313
Offline TA/TO    11833
Groups            9626
Direct            6351
Corporate         2635
Complementary      363
Aviation           118
Undefined            1
Name: count, dtype: int64

distribution_channel
TA/TO        85534
Direct       12960
Corporate     5864
GDS            176
Undefined        5
Name: count, dtype: int64

reserved_room_type
A    56144
D    12619
E     4344
F     1907
G     1375
B      746
C      625
H      428
P        6
L        4
Name: count, dtype: int64

assigned_room_type
A    72716
D    25280
E     7803
F     3750
G     2553
C     2374
B     2162
H      712
I      363
K      279
P       12
L        1
Name: count, dtype: int64

customer_type
Transient          69800
Transient-Party    19406
Contract            3246
Group                460
Name: count, dtype: int64

reservation_status
Check-Out    74883
Canceled     41918
No-Show       1204
Name: count, dtype: int64

reservation_status_date
2015-10-21 00:00:00    1232
2015-07-06 00:00:00     667
2016-11-25 00:00:00     651
2015-01-01 00:00:00     638
2016-01-18 00:00:00     518
                       ...
2029-04-31                1
2022-09-31                1
2029-02-30                1
2029-06-31                1
2024-11-31                1
Name: count, Length: 991, dtype: int64

0
0.0          37
TA/TO         7
2.0           7
Check-Out     7
A             7
             ..
POL           1
23/06/15      1
6/06/17       1
52.46         1
4/02/17       1
Name: count, Length: 1588, dtype: int64

In [ ]:
df['hotel'].fillna('UNK', inplace=True)
indices = df[df['hotel']=='UNK'].index

df.drop(indices, axis=0, inplace=True)

C:\Users\Isabel\AppData\Local\Temp\ipykernel_6960\451909002.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['hotel'].fillna('UNK', inplace=True)

In [ ]:
df['customer_type'].unique()

array(['Transient', nan, 'Contract', 'Transient-Party', 'Group'],
      dtype=object)

In [ ]:
df[['market_segment', 'distribution_channel', 'agent', 'customer_type']]

       market_segment distribution_channel  agent customer_type
0                 NaN               Direct    NaN     Transient
1                 NaN               Direct    NaN     Transient
2                 NaN               Direct    NaN     Transient
3           Corporate            Corporate  304.0     Transient
4           Online TA                TA/TO  240.0     Transient
...               ...                  ...    ...           ...
119385  Offline TA/TO                TA/TO  394.0           NaN
119386            NaN                TA/TO    9.0     Transient
119387      Online TA                TA/TO    9.0     Transient
119388      Online TA                TA/TO   89.0     Transient
119389            NaN                TA/TO    9.0           NaN

[118005 rows x 4 columns]

In [ ]:
exploracion_basica([df])

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,babies,meal,country,market_segment,distribution_channel,is_repeated_guest,previous_cancellations,previous_bookings_not_canceled,reserved_room_type,assigned_room_type,booking_changes,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,0
0,Resort Hotel,False,342.0,2015.0,July,27.0,1.0,0.0,0.0,2.0,NaN,0.0,BB,PRT,NaN,Direct,0.0,NaN,0.0,C,C,3.0,NaN,NaN,0.0,Transient,0.0,0.0,0.0,Check-Out,2015-07-01 00:00:00,NaN
1,Resort Hotel,False,737.0,NaN,July,27.0,1.0,0.0,0.0,2.0,NaN,0.0,BB,NaN,NaN,Direct,0.0,0.0,0.0,NaN,C,4.0,NaN,NaN,0.0,Transient,0.0,0.0,0.0,Check-Out,2015-07-01 00:00:00,NaN
2,Resort Hotel,False,7.0,2015.0,July,27.0,1.0,0.0,1.0,1.0,0.0,0.0,BB,GBR,NaN,Direct,0.0,0.0,0.0,A,C,0.0,NaN,NaN,0.0,Transient,75.0,0.0,0.0,Check-Out,2015-07-02 00:00:00,NaN
3,Resort Hotel,False,13.0,NaN,July,27.0,1.0,0.0,1.0,1.0,NaN,0.0,BB,GBR,Corporate,Corporate,0.0,0.0,0.0,A,A,0.0,304.0,NaN,0.0,Transient,75.0,0.0,0.0,Check-Out,2015-07-02 00:00:00,NaN
4,Resort Hotel,False,14.0,NaN,July,NaN,1.0,0.0,2.0,2.0,NaN,0.0,BB,NaN,Online TA,TA/TO,0.0,0.0,0.0,A,A,0.0,240.0,NaN,0.0,Transient,98.0,0.0,1.0,Check-Out,2015-07-03 00:00:00,NaN

(118005, 32)

hotel                               0.000000
is_canceled                         0.000000
lead_time                           0.000000
arrival_date_year                  45.745519
arrival_date_month                  0.000000
arrival_date_week_number           15.540019
arrival_date_day_of_month           0.100843
stays_in_weekend_nights             0.000000
stays_in_week_nights                0.000000
adults                              0.000000
children                           42.052455
babies                              0.000000
meal                                0.000000
country                            45.552307
market_segment                     49.798737
distribution_channel               11.411381
is_repeated_guest                   4.247278
previous_cancellations             36.319647
previous_bookings_not_canceled      0.000000
reserved_room_type                 33.733316
assigned_room_type                  0.000000
booking_changes                     0.000000
agent                              13.685861
company                            96.738274
days_in_waiting_list                0.000000
customer_type                      21.264353
adr                                 0.000000
required_car_parking_spaces         0.000000
total_of_special_requests           0.000000
reservation_status                  0.000000
reservation_status_date            10.904623
0                                 100.000000
dtype: float64

99.99830515656116
99.99830515656116
99.59408499639846
99.99661031312232
99.98728867420871
99.95423922715139
99.9728825049786
99.98559383076989
99.97034023982035
99.97457734841744
99.98728867420871
99.98813609592814
99.9957628914029
99.86102283801533
99.99237320452524
99.99491546968349
99.99745773484175
99.98135672217279
99.93813821448244
99.9906783610864
99.98983093936698
99.98135672217279
99.71696114571417
99.7364518452608
99.89153001991441
99.9957628914029
92.47574255328163
99.9957628914029
99.99491546968349
99.99745773484175
99.17206898012796
99.99915257828059

hotel                              object
is_canceled                        object
lead_time                         float64
arrival_date_year                 float64
arrival_date_month                 object
arrival_date_week_number          float64
arrival_date_day_of_month         float64
stays_in_weekend_nights           float64
stays_in_week_nights              float64
adults                            float64
children                          float64
babies                            float64
meal                               object
country                            object
market_segment                     object
distribution_channel               object
is_repeated_guest                 float64
previous_cancellations            float64
previous_bookings_not_canceled    float64
reserved_room_type                 object
assigned_room_type                 object
booking_changes                   float64
agent                             float64
company                           float64
days_in_waiting_list              float64
customer_type                      object
adr                               float64
required_car_parking_spaces       float64
total_of_special_requests         float64
reservation_status                 object
reservation_status_date            object
0                                  object
dtype: object
hotel
City Hotel      78066
Resort Hotel    39939
Name: count, dtype: int64

is_canceled
False    74883
True     43122
Name: count, dtype: int64

arrival_date_month
August       13751
July         12556
May          11637
October      10984
April        10955
June         10789
September    10338
December      6707
November      6660
March         5886
February      4841
3             3861
January       3558
2             3140
1             2342
Name: count, dtype: int64

meal
BB           91207
HB           14229
SC           10641
Undefined     1148
FB             780
Name: count, dtype: int64

country
PRT    25903
GBR     6570
FRA     5745
ESP     4697
DEU     3928
       ...
LIE        1
NIC        1
GGY        1
FJI        1
UMI        1
Name: count, Length: 163, dtype: int64

market_segment
Online TA        28313
Offline TA/TO    11833
Groups            9626
Direct            6351
Corporate         2635
Complementary      363
Aviation           118
Undefined            1
Name: count, dtype: int64

distribution_channel
TA/TO        85534
Direct       12960
Corporate     5864
GDS            176
Undefined        5
Name: count, dtype: int64

reserved_room_type
A    56144
D    12619
E     4344
F     1907
G     1375
B      746
C      625
H      428
P        6
L        4
Name: count, dtype: int64

assigned_room_type
A    72716
D    25280
E     7803
F     3750
G     2553
C     2374
B     2162
H      712
I      363
K      279
P       12
L        1
Name: count, dtype: int64

customer_type
Transient          69800
Transient-Party    19406
Contract            3246
Group                460
Name: count, dtype: int64

reservation_status
Check-Out    74883
Canceled     41918
No-Show       1204
Name: count, dtype: int64

reservation_status_date
2015-10-21 00:00:00    1232
2015-07-06 00:00:00     667
2016-11-25 00:00:00     651
2015-01-01 00:00:00     638
2016-01-18 00:00:00     518
                       ...
2015-02-09 00:00:00       1
2015-03-29 00:00:00       1
2024-09-31                1
2015-03-13 00:00:00       1
2027-09-31                1
Name: count, Length: 976, dtype: int64

Series([], Name: count, dtype: int64)

In [ ]:
df.to_csv('df_primera_limpieza.csv')

In [ ]:
filter1 = df[df['children'] > 0][['assigned_room_type', 'reserved_room_type', 'children']]

In [ ]:
filter1

       assigned_room_type reserved_room_type  children
13                      G                  G       1.0
45                      G                  G       2.0
55                      C                NaN       2.0
98                      D                  D       1.0
148                     H                  H       2.0
...                   ...                ...       ...
119247                  F                  F       2.0
119251                  F                NaN       2.0
119254                  E                  E       2.0
119270                  D                  A       1.0
119293                  F                  F       2.0

[5049 rows x 3 columns]

## LAURA

In [1]:
import pandas as pd

In [4]:
df=pd.read_csv("df_primera_limpieza.csv", index_col=0)

In [5]:
def limpieza(df):
    # Mapear los nmeros de mes a nombres de mes
    meses = {
        '1': 'January',
        '2': 'February',
        '3': 'March',
    }
    df['arrival_date_month'] = df['arrival_date_month'].astype(str)
    df['arrival_date_month'] = df['arrival_date_month'].replace(meses)
    return df

In [7]:
df= limpieza(df)

In [8]:
df["arrival_date_month"].unique()

array(['July', 'August', 'September', 'October', 'November', 'December',
       'January', 'February', 'March', 'April', 'May', 'June'],
      dtype=object)

In [12]:
df.columns

Index(['hotel', 'is_canceled', 'lead_time', 'arrival_date_year',
       'arrival_date_month', 'arrival_date_week_number',
       'arrival_date_day_of_month', 'stays_in_weekend_nights',
       'stays_in_week_nights', 'adults', 'children', 'babies', 'meal',
       'country', 'market_segment', 'distribution_channel',
       'is_repeated_guest', 'previous_cancellations',
       'previous_bookings_not_canceled', 'assigned_room_type',
       'booking_changes', 'agent', 'days_in_waiting_list', 'customer_type',
       'adr', 'required_car_parking_spaces', 'total_of_special_requests',
       'reservation_status', 'reservation_status_date', '0'],
      dtype='object')

## NEREA

In [13]:
# eliminar la columna company por el alto % de nulos (96.74%)
df = df.drop(columns=['company', "market_segment"])

KeyError: "['company'] not found in axis"

In [14]:
df = df.drop(columns=["market_segment"])

In [10]:
# eliminar la columna 'reserved_room_type'
df = df.drop(columns=['reserved_room_type'])

In [15]:
import numpy as np

In [16]:
# Cambiamos los valores de 'repeted'
repeted = {1 :'True', 0 : 'False', np.nan : np.nan}
df["is_repeated_guest"]=df["is_repeated_guest"].map(repeted)
df['is_repeated_guest'].unique()

array(['False', nan, 'True'], dtype=object)

## FEDRA

In [17]:
integers= ["required_car_parking_spaces", "days_in_waiting_list", "total_of_special_requests"]
for columna in integers:
    #convierte los valores de la columna a enteros
    #mantiene los valores NaN con NaN 
    df[columna] = df[columna].astype('Int64', errors= 'ignore')

In [18]:
df.drop(columns=['0'], inplace=True)

In [19]:
df.rename(columns={'adr': 'average daily rate'}, inplace=True)

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 118005 entries, 0 to 119389
Data columns (total 28 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   hotel                           118005 non-null  object
 1   is_canceled                     118005 non-null  bool
 2   lead_time                       118005 non-null  float64
 3   arrival_date_year               64023 non-null   float64
 4   arrival_date_month              118005 non-null  object
 5   arrival_date_week_number        99667 non-null   float64
 6   arrival_date_day_of_month       117886 non-null  float64
 7   stays_in_weekend_nights         118005 non-null  float64
 8   stays_in_week_nights            118005 non-null  float64
 9   adults                          118005 non-null  float64
 10  children                        68381 non-null   float64
 11  babies                          118005 non-null  float64
 12  meal                            118005 non-null  object
 13  country                         64251 non-null   object
 14  distribution_channel            104539 non-null  object
 15  is_repeated_guest               112993 non-null  object
 16  previous_cancellations          75146 non-null   float64
 17  previous_bookings_not_canceled  118005 non-null  float64
 18  assigned_room_type              118005 non-null  object
 19  booking_changes                 118005 non-null  float64
 20  agent                           101855 non-null  float64
 21  days_in_waiting_list            118005 non-null  Int64
 22  customer_type                   92912 non-null   object
 23  average daily rate              118005 non-null  float64
 24  required_car_parking_spaces     118005 non-null  Int64
 25  total_of_special_requests       118005 non-null  Int64
 26  reservation_status              118005 non-null  object
 27  reservation_status_date         105137 non-null  object
dtypes: Int64(3), bool(1), float64(14), object(10)
memory usage: 25.7+ MB

In [23]:
df.head()

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,babies,meal,country,distribution_channel,is_repeated_guest,previous_cancellations,previous_bookings_not_canceled,assigned_room_type,booking_changes,agent,days_in_waiting_list,customer_type,average daily rate,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
0,Resort Hotel,False,342.0,2015.0,July,27.0,1.0,0.0,0.0,2.0,NaN,0.0,BB,PRT,Direct,False,NaN,0.0,C,3.0,NaN,0,Transient,0.0,0,0,Check-Out,2015-07-01 00:00:00
1,Resort Hotel,False,737.0,NaN,July,27.0,1.0,0.0,0.0,2.0,NaN,0.0,BB,NaN,Direct,False,0.0,0.0,C,4.0,NaN,0,Transient,0.0,0,0,Check-Out,2015-07-01 00:00:00
2,Resort Hotel,False,7.0,2015.0,July,27.0,1.0,0.0,1.0,1.0,0.0,0.0,BB,GBR,Direct,False,0.0,0.0,C,0.0,NaN,0,Transient,75.0,0,0,Check-Out,2015-07-02 00:00:00
3,Resort Hotel,False,13.0,NaN,July,27.0,1.0,0.0,1.0,1.0,NaN,0.0,BB,GBR,Corporate,False,0.0,0.0,A,0.0,304.0,0,Transient,75.0,0,0,Check-Out,2015-07-02 00:00:00
4,Resort Hotel,False,14.0,NaN,July,NaN,1.0,0.0,2.0,2.0,NaN,0.0,BB,NaN,TA/TO,False,0.0,0.0,A,0.0,240.0,0,Transient,98.0,0,1,Check-Out,2015-07-03 00:00:00

In [ ]:
df.to_csv("df_primera_limpieza.csv")

# NOTAS:

- BORRAR:
    - company 
    - 0
    - reserved_room_type    
    - market segment

- CAMBIOS:
    - en categricaS: cambiar nan por undefined

## cosas que revisar:
- relacin entre los que cancelan y el distribuion_channel