In [15]:
import pandas as pd
import numpy as np
pd.set_option('display.max_columns', None)

In [16]:
df = pd.read_csv('../df_primera_limpieza.csv', index_col=0)

In [17]:
df

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,babies,meal,country,market_segment,distribution_channel,is_repeated_guest,previous_cancellations,previous_bookings_not_canceled,reserved_room_type,assigned_room_type,booking_changes,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,0
0,Resort Hotel,False,342.0,2015.0,July,27.0,1.0,0.0,0.0,2.0,NaN,0.0,BB,PRT,NaN,Direct,0.0,NaN,0.0,C,C,3.0,NaN,NaN,0.0,Transient,0.00,0.0,0.0,Check-Out,2015-07-01 00:00:00,NaN
1,Resort Hotel,False,737.0,NaN,July,27.0,1.0,0.0,0.0,2.0,NaN,0.0,BB,NaN,NaN,Direct,0.0,0.0,0.0,NaN,C,4.0,NaN,NaN,0.0,Transient,0.00,0.0,0.0,Check-Out,2015-07-01 00:00:00,NaN
2,Resort Hotel,False,7.0,2015.0,July,27.0,1.0,0.0,1.0,1.0,0.0,0.0,BB,GBR,NaN,Direct,0.0,0.0,0.0,A,C,0.0,NaN,NaN,0.0,Transient,75.00,0.0,0.0,Check-Out,2015-07-02 00:00:00,NaN
3,Resort Hotel,False,13.0,NaN,July,27.0,1.0,0.0,1.0,1.0,NaN,0.0,BB,GBR,Corporate,Corporate,0.0,0.0,0.0,A,A,0.0,304.0,NaN,0.0,Transient,75.00,0.0,0.0,Check-Out,2015-07-02 00:00:00,NaN
4,Resort Hotel,False,14.0,NaN,July,NaN,1.0,0.0,2.0,2.0,NaN,0.0,BB,NaN,Online TA,TA/TO,0.0,0.0,0.0,A,A,0.0,240.0,NaN,0.0,Transient,98.00,0.0,1.0,Check-Out,2015-07-03 00:00:00,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119385,City Hotel,False,23.0,2017.0,August,35.0,30.0,2.0,5.0,2.0,0.0,0.0,BB,NaN,Offline TA/TO,TA/TO,0.0,0.0,0.0,A,A,0.0,394.0,NaN,0.0,NaN,96.14,0.0,0.0,Check-Out,2017-06-09 00:00:00,NaN
119386,City Hotel,False,102.0,NaN,August,35.0,31.0,2.0,5.0,3.0,NaN,0.0,BB,FRA,NaN,TA/TO,0.0,NaN,0.0,E,E,0.0,9.0,NaN,0.0,Transient,225.43,0.0,2.0,Check-Out,2017-07-09 00:00:00,NaN
119387,City Hotel,False,34.0,2017.0,August,35.0,31.0,2.0,5.0,2.0,NaN,0.0,BB,NaN,Online TA,TA/TO,0.0,0.0,0.0,NaN,D,0.0,9.0,NaN,0.0,Transient,157.71,0.0,4.0,Check-Out,2017-07-09 00:00:00,NaN
119388,City Hotel,False,109.0,NaN,August,35.0,31.0,2.0,5.0,55.0,0.0,0.0,BB,NaN,Online TA,TA/TO,0.0,0.0,0.0,A,A,0.0,89.0,NaN,0.0,Transient,104.40,0.0,0.0,Check-Out,2017-07-09 00:00:00,NaN
119389,City Hotel,False,205.0,2017.0,August,35.0,29.0,2.0,7.0,2.0,NaN,0.0,HB,DEU,NaN,TA/TO,0.0,0.0,0.0,NaN,A,0.0,9.0,NaN,0.0,NaN,151.20,0.0,2.0,Check-Out,2017-07-09 00:00:00,NaN

In [18]:
df1 = df.iloc[:, 0:8]

# Imprimir los tipos de datos de las columnas seleccionadas
print(df1.dtypes)

hotel                         object
is_canceled                     bool
lead_time                    float64
arrival_date_year            float64
arrival_date_month            object
arrival_date_week_number     float64
arrival_date_day_of_month    float64
stays_in_weekend_nights      float64
dtype: object

In [19]:
df1.isnull().sum()/df1.shape[0]*100

hotel                         0.000000
is_canceled                   0.000000
lead_time                     0.000000
arrival_date_year            45.745519
arrival_date_month            0.000000
arrival_date_week_number     15.540019
arrival_date_day_of_month     0.100843
stays_in_weekend_nights       0.000000
dtype: float64

In [20]:
def exploracion(df1):
    forma = df1.shape
    print(f"La forma es {forma}")
    print("_______________")
    columnas = df1.columns
    print(f"Las columnas son {columnas}")
    print("_______________")
    nulos = df1.isna().sum().reset_index()
    print(f"Los nulos son:")
    display(nulos)
    print("_______________")
    duplicados = df1.duplicated().sum()
    print(f"Hay {duplicados} duplicados")
    print("_______________")
    tipo_dato = df1.dtypes.reset_index()
    print(f"Los datos son de tipo:")
    display(tipo_dato)

In [21]:
exploracion(df1)

La forma es (118005, 8)
_______________
Las columnas son Index(['hotel', 'is_canceled', 'lead_time', 'arrival_date_year',
       'arrival_date_month', 'arrival_date_week_number',
       'arrival_date_day_of_month', 'stays_in_weekend_nights'],
      dtype='object')
_______________
Los nulos son:

                       index      0
0                      hotel      0
1                is_canceled      0
2                  lead_time      0
3          arrival_date_year  53982
4         arrival_date_month      0
5   arrival_date_week_number  18338
6  arrival_date_day_of_month    119
7    stays_in_weekend_nights      0

_______________
Hay 36863 duplicados
_______________
Los datos son de tipo:

                       index        0
0                      hotel   object
1                is_canceled     bool
2                  lead_time  float64
3          arrival_date_year  float64
4         arrival_date_month   object
5   arrival_date_week_number  float64
6  arrival_date_day_of_month  float64
7    stays_in_weekend_nights  float64

In [22]:
# Eliminar duplicados
df1 = df1.drop_duplicates()

# Muestra los duplicados que hay
duplicados_filas = df1[df1.duplicated()]
if not duplicados_filas.empty:
    print("Filas duplicadas:")
    display(duplicados_filas)
    print("_______________")

In [23]:
# Función para ver los valores unicos de las columnas
def unique_values(data):
    for column in data.columns:
        unique_values = data[column].unique()
        print(f"Valores únicos en la columna '{column}': {unique_values}")
        print("-----------------------------------------")
print(unique_values(df1))

Valores únicos en la columna 'hotel': ['Resort Hotel' 'City Hotel']
-----------------------------------------
Valores únicos en la columna 'is_canceled': [False  True]
-----------------------------------------
Valores únicos en la columna 'lead_time': [342. 737.   7.  13.  14.   0.   9.  85.  75.  23.  35.  68.  18.  37.
  12.  72. 127.  78.  48.  60.  77.  99. 118.  95.  96.  69.  45.  40.
  15.  36.  43.  70.  16. 107.  47. 113.  90.  50.  93.  76.   3.   1.
  10.   5.  17.  51.  71.  63.  62. 101.   2.  81. 368. 364. 324.  79.
  21. 109. 102.   4.  98.  92.  26.  73. 115.  86.  52.  29.  30.  33.
  32.   8. 100.  44.  80.  97.  64.  39.  34.  27.  82.  94. 110. 111.
  84.  66. 104.  28. 258. 112.  65.  67.  55.  88.  54. 292.  83. 105.
 280. 394.  24. 103. 366. 249.  22.  91.  11. 108. 106.  31.  87.  41.
 304. 117.  59.  53.  58. 116.  42. 321.  38.  56.  49. 317.   6.  57.
  19.  25. 315. 123.  46.  89.  61. 312. 299. 130.  74. 298. 119.  20.
 286. 136. 129. 124. 327. 131. 460. 140. 114. 139. 122. 137. 126. 120.
 128. 135. 150. 143. 151. 132. 125. 157. 147. 138. 156. 164. 346. 159.
 160. 161. 333. 381. 149. 154. 297. 163. 314. 155. 323. 340. 356. 142.
 328. 144. 336. 248. 302. 175. 344. 382. 146. 170. 166. 338. 167. 310.
 148. 165. 172. 171. 145. 121. 178. 305. 173. 152. 354. 347. 158. 185.
 349. 183. 352. 177. 200. 192. 361. 207. 174. 330. 134. 350. 334. 283.
 153. 197. 133. 241. 193. 235. 194. 261. 260. 216. 169. 209. 238. 215.
 141. 189. 187. 223. 284. 214. 202. 211. 168. 230. 203. 188. 232. 709.
 219. 162. 196. 190. 259. 228. 176. 250. 201. 186. 199. 180. 206. 205.
 224. 222. 182. 210. 275. 212. 229. 218. 208. 191. 181. 179. 246. 255.
 226. 288. 253. 252. 262. 236. 256. 234. 254. 468. 213. 237. 198. 195.
 239. 263. 265. 274. 217. 220. 307. 221. 233. 257. 227. 276. 225. 264.
 311. 277. 204. 290. 266. 270. 294. 319. 282. 251. 322. 291. 269. 240.
 271. 184. 231. 268. 247. 273. 300. 301. 267. 244. 306. 293. 309. 272.
 242. 295. 285. 243. 308. 398. 303. 245. 424. 279. 331. 281. 339. 434.
 357. 325. 329. 278. 332. 343. 345. 360. 348. 367. 353. 373. 374. 406.
 400. 326. 379. 399. 316. 341. 320. 385. 355. 363. 358. 296. 422. 390.
 335. 370. 376. 375. 397. 289. 542. 403. 383. 384. 359. 393. 337. 362.
 365. 435. 386. 378. 313. 351. 287. 471. 462. 411. 450. 318. 372. 371.
 454. 532. 445. 389. 388. 407. 443. 437. 451. 391. 405. 412. 419. 420.
 426. 433. 440. 429. 418. 447. 461. 605. 457. 475. 464. 482. 626. 489.
 496. 503. 510. 517. 524. 531. 538. 545. 552. 559. 566. 573. 580. 587.
 594. 601. 608. 615. 622. 629. 396. 410. 395. 423. 408. 409. 448. 465.
 387. 414. 476. 479. 467. 490. 493. 478. 504. 507. 458. 518. 521. 377.
 444. 380. 463.]
-----------------------------------------
Valores únicos en la columna 'arrival_date_year': [2015.   nan 2016. 2017.]
-----------------------------------------
Valores únicos en la columna 'arrival_date_month': ['July' 'August' 'September' 'October' 'November' 'December' '1' 'January'
 'February' '2' '3' 'March' 'April' 'May' 'June']
-----------------------------------------
Valores únicos en la columna 'arrival_date_week_number': [27. nan 28. 29. 30. 31. 32. 33. 34. 35. 36. 37. 38. 39. 40. 41. 42. 43.
 44. 45. 46. 47. 48. 49. 50. 51. 52. 53.  1.  2.  3.  4.  5.  6.  7.  8.
  9. 10. 11. 12. 13. 14. 15. 16. 17. 18. 19. 20. 21. 22. 23. 24. 25. 26.]
-----------------------------------------
Valores únicos en la columna 'arrival_date_day_of_month': [ 1.  2. nan  3.  4.  5.  6.  7.  8.  9. 10. 11. 12. 13. 14. 15. 16. 17.
 18. 19. 20. 21. 22. 23. 24. 25. 26. 27. 28. 29. 30. 31.]
-----------------------------------------
Valores únicos en la columna 'stays_in_weekend_nights': [ 0.  1.  2.  4.  3.  6. 13.  8.  5.  7. 12.  9. 16. 18. 19. 10. 14.]
-----------------------------------------
None

In [26]:
def limpieza(df1):
    # Mapear los números de mes a nombres de mes
    meses = {
        '1': 'January',
        '2': 'February',
        '3': 'March',
    }
    df1['arrival_date_month'] = df1['arrival_date_month'].astype(str)
    df1['arrival_date_month'] = df1['arrival_date_month'].replace(meses)

    # Convertir todas las columnas del DataFrame a tipo entero excepto 'hotel', 'is_canceled' y 'arrival_date_month'
    df1.fillna(-1, inplace=True)  # Rellenar NaN con -1
    exclude_columns = ['hotel', 'is_canceled', 'arrival_date_month']
    columns_to_convert = [col for col in df1.columns if col not in exclude_columns]
    df1[columns_to_convert] = df1[columns_to_convert].astype(int)

    return df1

# Llamar a la función de limpieza
df1 = limpieza(df1)

In [25]:
df1.sample(20)

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights
13424,Resort Hotel,True,195,2017,August,33,14,2
111471,City Hotel,False,35,-1,May,19,8,1
28448,Resort Hotel,False,0,2016,November,45,3,0
9989,Resort Hotel,True,0,-1,February,5,2,0
103701,City Hotel,False,98,-1,December,53,26,1
48915,City Hotel,True,79,2016,April,-1,2,1
77615,City Hotel,False,1,2016,May,19,5,0
26478,Resort Hotel,False,188,2016,July,31,25,2
65246,City Hotel,True,85,-1,March,13,30,0
7636,Resort Hotel,True,180,-1,August,34,17,3
9794,Resort Hotel,True,47,2017,January,1,2,1
112950,City Hotel,False,132,-1,May,22,28,2
86577,City Hotel,False,46,2016,April,15,3,2
3076,Resort Hotel,True,44,2015,November,46,13,0
116862,City Hotel,False,86,-1,July,30,24,1
111713,City Hotel,False,114,-1,May,19,10,0
86317,City Hotel,False,57,-1,April,14,1,0
65525,City Hotel,True,89,2017,April,-1,5,0
36834,Resort Hotel,False,17,2017,May,22,29,1
26597,Resort Hotel,False,1,-1,August,32,4,0

In [1]:
import matplotlib.pyplot as plt
import seaborn as sns

import pandas as pd
pd.set_option('display.max_columns', None)

In [2]:
df=pd.read_csv('../df_primera_limpieza.csv', index_col=0)

In [4]:
df

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,babies,meal,country,market_segment,distribution_channel,is_repeated_guest,previous_cancellations,previous_bookings_not_canceled,reserved_room_type,assigned_room_type,booking_changes,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,0
0,Resort Hotel,False,342.0,2015.0,July,27.0,1.0,0.0,0.0,2.0,NaN,0.0,BB,PRT,NaN,Direct,0.0,NaN,0.0,C,C,3.0,NaN,NaN,0.0,Transient,0.00,0.0,0.0,Check-Out,2015-07-01 00:00:00,NaN
1,Resort Hotel,False,737.0,NaN,July,27.0,1.0,0.0,0.0,2.0,NaN,0.0,BB,NaN,NaN,Direct,0.0,0.0,0.0,NaN,C,4.0,NaN,NaN,0.0,Transient,0.00,0.0,0.0,Check-Out,2015-07-01 00:00:00,NaN
2,Resort Hotel,False,7.0,2015.0,July,27.0,1.0,0.0,1.0,1.0,0.0,0.0,BB,GBR,NaN,Direct,0.0,0.0,0.0,A,C,0.0,NaN,NaN,0.0,Transient,75.00,0.0,0.0,Check-Out,2015-07-02 00:00:00,NaN
3,Resort Hotel,False,13.0,NaN,July,27.0,1.0,0.0,1.0,1.0,NaN,0.0,BB,GBR,Corporate,Corporate,0.0,0.0,0.0,A,A,0.0,304.0,NaN,0.0,Transient,75.00,0.0,0.0,Check-Out,2015-07-02 00:00:00,NaN
4,Resort Hotel,False,14.0,NaN,July,NaN,1.0,0.0,2.0,2.0,NaN,0.0,BB,NaN,Online TA,TA/TO,0.0,0.0,0.0,A,A,0.0,240.0,NaN,0.0,Transient,98.00,0.0,1.0,Check-Out,2015-07-03 00:00:00,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119385,City Hotel,False,23.0,2017.0,August,35.0,30.0,2.0,5.0,2.0,0.0,0.0,BB,NaN,Offline TA/TO,TA/TO,0.0,0.0,0.0,A,A,0.0,394.0,NaN,0.0,NaN,96.14,0.0,0.0,Check-Out,2017-06-09 00:00:00,NaN
119386,City Hotel,False,102.0,NaN,August,35.0,31.0,2.0,5.0,3.0,NaN,0.0,BB,FRA,NaN,TA/TO,0.0,NaN,0.0,E,E,0.0,9.0,NaN,0.0,Transient,225.43,0.0,2.0,Check-Out,2017-07-09 00:00:00,NaN
119387,City Hotel,False,34.0,2017.0,August,35.0,31.0,2.0,5.0,2.0,NaN,0.0,BB,NaN,Online TA,TA/TO,0.0,0.0,0.0,NaN,D,0.0,9.0,NaN,0.0,Transient,157.71,0.0,4.0,Check-Out,2017-07-09 00:00:00,NaN
119388,City Hotel,False,109.0,NaN,August,35.0,31.0,2.0,5.0,55.0,0.0,0.0,BB,NaN,Online TA,TA/TO,0.0,0.0,0.0,A,A,0.0,89.0,NaN,0.0,Transient,104.40,0.0,0.0,Check-Out,2017-07-09 00:00:00,NaN
119389,City Hotel,False,205.0,2017.0,August,35.0,29.0,2.0,7.0,2.0,NaN,0.0,HB,DEU,NaN,TA/TO,0.0,0.0,0.0,NaN,A,0.0,9.0,NaN,0.0,NaN,151.20,0.0,2.0,Check-Out,2017-07-09 00:00:00,NaN

## Observaciones

LAURA:
- lead_time y booking_changes 
- lead_time y reservation_status
- lead_time, booking_changes  y reservation_status

In [6]:
df.columns

Index(['hotel', 'is_canceled', 'lead_time', 'arrival_date_year',
       'arrival_date_month', 'arrival_date_week_number',
       'arrival_date_day_of_month', 'stays_in_weekend_nights',
       'stays_in_week_nights', 'adults', 'children', 'babies', 'meal',
       'country', 'market_segment', 'distribution_channel',
       'is_repeated_guest', 'previous_cancellations',
       'previous_bookings_not_canceled', 'reserved_room_type',
       'assigned_room_type', 'booking_changes', 'agent', 'company',
       'days_in_waiting_list', 'customer_type', 'adr',
       'required_car_parking_spaces', 'total_of_special_requests',
       'reservation_status', 'reservation_status_date', '0'],
      dtype='object')

In [8]:
df["lead_time"].value_counts()

0.0      6341
1.0      3451
2.0      2069
3.0      1815
4.0      1715
         ...
370.0       1
709.0       1
424.0       1
737.0       1
463.0       1
Name: lead_time, Length: 479, dtype: int64

In [9]:
df["reservation_status"].value_counts()

Check-Out    74883
Canceled     41918
No-Show       1204
Name: reservation_status, dtype: int64