In [36]:
import pandas as pd
import numpy as np

df = pd.read_csv('finanzas-hotel-bookings.csv', index_col=0)
pd.set_option('display.max_columns', None)

/tmp/ipykernel_16500/2020824579.py:4: DtypeWarning: Columns (1,2,5,13,14,15,16,20,21,26,30,32) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('finanzas-hotel-bookings.csv', index_col=0)

In [48]:

# Suponiendo que df es tu DataFrame
num_duplicados = df.duplicated().sum()

print("Número de duplicados:", num_duplicados)

# Eliminar duplicados y actualizar el DataFrame
df = df.drop_duplicates()

# Ahora el DataFrame df no tendrá filas duplicadas

Número de duplicados: 63040

**Columnas:**
- is_repeated_guest: Indica si el cliente es un huésped repetido (1) o no (0)

- previous_cancellations: Número de reservas canceladas por el cliente antes de esta reserva

- previous_bookings_not_canceled: Número de reservas no canceladas por el cliente antes de esta reserva

- reserved_room_type: Tipo de habitación reservada

- assigned_room_type: Tipo de habitación asignada en la reserva

- booking_changes: Número de cambios realizados en la reserva

- agent: Identificador del agente involucrado en la reserva

- company: Identificador de la compañía involucrada en la reserva

In [49]:
df.columns

Index(['hotel', 'is_canceled', 'lead_time', 'arrival_date_year',
       'arrival_date_month', 'arrival_date_week_number',
       'arrival_date_day_of_month', 'stays_in_weekend_nights',
       'stays_in_week_nights', 'adults', 'children', 'babies', 'meal',
       'country', 'market_segment', 'distribution_channel',
       'is_repeated_guest', 'previous_cancellations',
       'previous_bookings_not_canceled', 'reserved_room_type',
       'assigned_room_type', 'booking_changes', 'agent', 'company',
       'days_in_waiting_list', 'customer_type', 'adr',
       'required_car_parking_spaces', 'total_of_special_requests',
       'reservation_status', 'reservation_status_date', '0'],
      dtype='object')

- Cambiamos los valores de 'repeted' a 'Recurrent' y 'First time' o 'nan'

In [50]:
df['is_repeated_guest'].unique()

array([ 0., nan,  1.])

In [51]:
# Cambiamos los valores de 'repeted'
repeted = {1 :'Recurrent', 0 : 'First time', np.nan : np.nan}
df["is_repeated_guest"]=df["is_repeated_guest"].map(repeted)
df['is_repeated_guest'].unique()

array(['First time', nan, 'Recurrent'], dtype=object)

In [52]:
nulos = df['is_repeated_guest'].isnull().mean() * 100

print("Porcentaje de valores nulos por columna:")
print(nulos)

Porcentaje de valores nulos por columna:
5.711090898470422

- Convertir las columnas a tipo Int64 si todos los valores son enteros ('previous_cancellations', 'previous_bookings_not_canceled', 'agent')

In [53]:
# Convertir las columnas a tipo Int64 si todos los valores son enteros

cols_to_convert = ['previous_cancellations', 'previous_bookings_not_canceled', 'agent', 'booking_changes' ]

for col in cols_to_convert:
    df[col] = df[col].fillna(0).astype(int)

In [54]:
df

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,babies,meal,country,market_segment,distribution_channel,is_repeated_guest,previous_cancellations,previous_bookings_not_canceled,reserved_room_type,assigned_room_type,booking_changes,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,0
0,Resort Hotel,False,342.000000,2015.0,July,27.0,1.0,0.000000,0.000000,2.0,NaN,0.0,BB,PRT,NaN,Direct,First time,0,0,C,C,3,0,NaN,0.0,Transient,0.0,0.0,0.0,Check-Out,2015-07-01 00:00:00,NaN
1,Resort Hotel,False,737.000000,NaN,July,27.0,1.0,0.000000,0.000000,2.0,NaN,0.0,BB,NaN,NaN,Direct,First time,0,0,NaN,C,4,0,NaN,0.0,Transient,0.0,0.0,0.0,Check-Out,2015-07-01 00:00:00,NaN
2,Resort Hotel,False,7.000000,2015.0,July,27.0,1.0,0.000000,1.000000,1.0,0.0,0.0,BB,GBR,NaN,Direct,First time,0,0,A,C,0,0,NaN,0.0,Transient,75.0,0.0,0.0,Check-Out,2015-07-02 00:00:00,NaN
3,Resort Hotel,False,13.000000,NaN,July,27.0,1.0,0.000000,1.000000,1.0,NaN,0.0,BB,GBR,Corporate,Corporate,First time,0,0,A,A,0,304,NaN,0.0,Transient,75.0,0.0,0.0,Check-Out,2015-07-02 00:00:00,NaN
4,Resort Hotel,False,14.000000,NaN,July,NaN,1.0,0.000000,2.000000,2.0,NaN,0.0,BB,NaN,Online TA,TA/TO,First time,0,0,A,A,0,240,NaN,0.0,Transient,98.0,0.0,1.0,Check-Out,2015-07-03 00:00:00,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
182872,NaN,NaN,224.337762,NaN,NaN,NaN,NaN,19.005545,19.819823,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,NaN,NaN,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
182873,NaN,NaN,390.141963,NaN,NaN,NaN,NaN,14.751794,19.989726,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,NaN,NaN,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
182874,NaN,NaN,230.689826,NaN,NaN,NaN,NaN,11.409496,20.461372,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,NaN,NaN,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
182875,NaN,NaN,304.888534,NaN,NaN,NaN,NaN,16.744472,15.400773,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,NaN,NaN,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
182876,NaN,NaN,341.238166,NaN,NaN,NaN,NaN,17.791486,24.442690,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,NaN,NaN,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [55]:
df['booking_changes']

0         3
1         4
2         0
3         0
4         0
         ..
182872    0
182873    0
182874    0
182875    0
182876    0
Name: booking_changes, Length: 119837, dtype: int64

In [56]:
df['agent'].unique()

array([  0, 304, 240, 303,  15, 241,   8, 250, 115,   5, 175, 134, 156,
       243, 242,   3, 105,  40, 147, 306, 184,  96,   2, 127,  95, 146,
         9, 177,   6, 143, 244, 149, 167, 300, 171, 305,  67, 196, 152,
       142, 261, 104,  36,  26,  29, 258, 110,  71, 181,  88, 251, 275,
        69, 248, 208, 256, 314, 126, 281, 273, 253, 185, 330, 334, 328,
       326, 321, 324, 313,  38, 155,  68, 335, 308, 332,  94, 348, 310,
       339, 375,  66, 327, 387, 298,  91, 245, 385, 257, 393, 168, 405,
       249, 315,  75, 128, 307,  11, 436,   1, 201, 183, 223, 368, 336,
       291, 464, 411, 481,  10, 154, 468, 410, 390, 440, 495, 492, 493,
       434,  57, 531, 420, 483, 526, 472, 429,  16, 446,  34,  78, 139,
       252, 270,  47, 114, 301, 193, 182, 135, 350, 195, 352, 355, 159,
       363, 384, 360, 331, 367,  64, 406, 163, 414, 333, 427, 431, 430,
       426, 438, 433, 418, 441, 282, 432,  72, 450, 180, 454, 455,  59,
       451, 254, 358, 469, 165, 467, 510, 337, 476, 502, 527, 479, 508,
       535, 302, 497, 187,  13,   7,  27,  14,  22,  17,  28,  42,  20,
        19,  45,  37,  61,  39,  21,  24,  41,  50,  30,  54,  52,  12,
        44,  31,  83,  32,  63,  60,  55,  56,  89,  87, 118,  86,  85,
       210, 214, 129, 179, 138, 174, 170, 153,  93, 151, 119,  35, 173,
        58,  53, 133,  79, 235, 192, 191, 236, 162, 215, 157, 287, 132,
       234,  98,  77, 103, 107, 262, 220, 121, 205, 378,  23, 296, 290,
       229,  33, 286, 276, 425, 484, 323, 403, 219, 394, 509, 111, 423,
         4,  70,  82,  81,  74,  92,  99,  90, 112, 117, 106, 148, 158,
       144, 211, 213, 216, 232, 150, 267, 227, 247, 278, 280, 285, 289,
       269, 295, 265, 288, 122, 294, 325, 341, 344, 346, 359, 283, 364,
       370, 371,  25, 141, 391, 397, 416, 404, 299, 197,  73, 354, 444,
       408, 461, 388, 453, 459, 474, 475, 480, 449])

In [57]:
df['previous_cancellations']

0         0
1         0
2         0
3         0
4         0
         ..
182872    0
182873    0
182874    0
182875    0
182876    0
Name: previous_cancellations, Length: 119837, dtype: int64

In [58]:
df['previous_cancellations'].unique()

array([ 0, 14, 10, 19, 13, 17,  1,  2,  3, 26, 25,  4, 24, 12, 16,  5, 11,
       15, 18, 21,  6])

In [59]:
df['previous_bookings_not_canceled'].unique()

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 20, 21, 22, 23, 24, 25, 27, 28, 29, 30, 19, 26, 31, 32, 33,
       34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50,
       51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67,
       68, 69, 70, 71, 72])

In [60]:
df['previous_bookings_not_canceled'].value_counts()/df.shape[0]*100

0     96.979230
1      1.286748
2      0.483991
3      0.277877
4      0.191093
        ...
47     0.000834
49     0.000834
50     0.000834
51     0.000834
72     0.000834
Name: previous_bookings_not_canceled, Length: 73, dtype: float64

- Vamos a crear una nueva columna para ver si coinciden o no ambas reservas:

In [61]:
df_rooms = df[['reserved_room_type', 'assigned_room_type']][df['reserved_room_type'].notna()&df['assigned_room_type'].notna()]
df_rooms

       reserved_room_type assigned_room_type
0                       C                  C
2                       A                  C
3                       A                  A
4                       A                  A
5                       A                  A
...                   ...                ...
119382                  G                  G
119384                  A                  A
119385                  A                  A
119386                  E                  E
119388                  A                  A

[78198 rows x 2 columns]

In [62]:
df['reserved_room_type'].unique()

array(['C', nan, 'A', 'D', 'E', 'G', 'F', 'H', 'L', 'P', 'B'],
      dtype=object)

In [63]:
df['assigned_room_type'].unique()

array(['C', 'A', 'D', 'E', 'G', 'F', 'I', 'B', 'H', 'P', 'L', 'K', nan],
      dtype=object)

In [64]:
df['cambio_habitac'] = np.where(df['reserved_room_type']== df['assigned_room_type'], 'equal', 'change')
df

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,babies,meal,country,market_segment,distribution_channel,is_repeated_guest,previous_cancellations,previous_bookings_not_canceled,reserved_room_type,assigned_room_type,booking_changes,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,0,cambio_habitac
0,Resort Hotel,False,342.000000,2015.0,July,27.0,1.0,0.000000,0.000000,2.0,NaN,0.0,BB,PRT,NaN,Direct,First time,0,0,C,C,3,0,NaN,0.0,Transient,0.0,0.0,0.0,Check-Out,2015-07-01 00:00:00,NaN,equal
1,Resort Hotel,False,737.000000,NaN,July,27.0,1.0,0.000000,0.000000,2.0,NaN,0.0,BB,NaN,NaN,Direct,First time,0,0,NaN,C,4,0,NaN,0.0,Transient,0.0,0.0,0.0,Check-Out,2015-07-01 00:00:00,NaN,change
2,Resort Hotel,False,7.000000,2015.0,July,27.0,1.0,0.000000,1.000000,1.0,0.0,0.0,BB,GBR,NaN,Direct,First time,0,0,A,C,0,0,NaN,0.0,Transient,75.0,0.0,0.0,Check-Out,2015-07-02 00:00:00,NaN,change
3,Resort Hotel,False,13.000000,NaN,July,27.0,1.0,0.000000,1.000000,1.0,NaN,0.0,BB,GBR,Corporate,Corporate,First time,0,0,A,A,0,304,NaN,0.0,Transient,75.0,0.0,0.0,Check-Out,2015-07-02 00:00:00,NaN,equal
4,Resort Hotel,False,14.000000,NaN,July,NaN,1.0,0.000000,2.000000,2.0,NaN,0.0,BB,NaN,Online TA,TA/TO,First time,0,0,A,A,0,240,NaN,0.0,Transient,98.0,0.0,1.0,Check-Out,2015-07-03 00:00:00,NaN,equal
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
182872,NaN,NaN,224.337762,NaN,NaN,NaN,NaN,19.005545,19.819823,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,NaN,NaN,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,change
182873,NaN,NaN,390.141963,NaN,NaN,NaN,NaN,14.751794,19.989726,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,NaN,NaN,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,change
182874,NaN,NaN,230.689826,NaN,NaN,NaN,NaN,11.409496,20.461372,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,NaN,NaN,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,change
182875,NaN,NaN,304.888534,NaN,NaN,NaN,NaN,16.744472,15.400773,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,NaN,NaN,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,change
182876,NaN,NaN,341.238166,NaN,NaN,NaN,NaN,17.791486,24.442690,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,NaN,NaN,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,change

In [65]:
df['cambio_habitac'].value_counts()/df.shape[0]*100

equal     56.867245
change    43.132755
Name: cambio_habitac, dtype: float64

In [66]:
df['booking_changes'].value_counts()/df.shape[0]*100

0     84.878627
1     10.564350
2      3.169305
3      0.773551
4      0.313760
5      0.098467
6      0.052571
7      0.025868
10     0.015020
8      0.014186
17     0.014186
15     0.011683
11     0.011683
12     0.010014
13     0.010014
16     0.009179
14     0.008345
9      0.006676
19     0.005841
18     0.005007
20     0.000834
21     0.000834
Name: booking_changes, dtype: float64

In [ ]:
# eliminar la columna company por el alto % de nulos (96.74%)
df = df.drop(columns=['company'])

In [68]:
df.head()

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,babies,meal,country,market_segment,distribution_channel,is_repeated_guest,previous_cancellations,previous_bookings_not_canceled,reserved_room_type,assigned_room_type,booking_changes,agent,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,0,cambio_habitac
0,Resort Hotel,False,342.0,2015.0,July,27.0,1.0,0.0,0.0,2.0,NaN,0.0,BB,PRT,NaN,Direct,First time,0,0,C,C,3,0,0.0,Transient,0.0,0.0,0.0,Check-Out,2015-07-01 00:00:00,NaN,equal
1,Resort Hotel,False,737.0,NaN,July,27.0,1.0,0.0,0.0,2.0,NaN,0.0,BB,NaN,NaN,Direct,First time,0,0,NaN,C,4,0,0.0,Transient,0.0,0.0,0.0,Check-Out,2015-07-01 00:00:00,NaN,change
2,Resort Hotel,False,7.0,2015.0,July,27.0,1.0,0.0,1.0,1.0,0.0,0.0,BB,GBR,NaN,Direct,First time,0,0,A,C,0,0,0.0,Transient,75.0,0.0,0.0,Check-Out,2015-07-02 00:00:00,NaN,change
3,Resort Hotel,False,13.0,NaN,July,27.0,1.0,0.0,1.0,1.0,NaN,0.0,BB,GBR,Corporate,Corporate,First time,0,0,A,A,0,304,0.0,Transient,75.0,0.0,0.0,Check-Out,2015-07-02 00:00:00,NaN,equal
4,Resort Hotel,False,14.0,NaN,July,NaN,1.0,0.0,2.0,2.0,NaN,0.0,BB,NaN,Online TA,TA/TO,First time,0,0,A,A,0,240,0.0,Transient,98.0,0.0,1.0,Check-Out,2015-07-03 00:00:00,NaN,equal

In [ ]:
df = df.drop(columns=['0'])

In [70]:
df.columns

Index(['hotel', 'is_canceled', 'lead_time', 'arrival_date_year',
       'arrival_date_month', 'arrival_date_week_number',
       'arrival_date_day_of_month', 'stays_in_weekend_nights',
       'stays_in_week_nights', 'adults', 'children', 'babies', 'meal',
       'country', 'market_segment', 'distribution_channel',
       'is_repeated_guest', 'previous_cancellations',
       'previous_bookings_not_canceled', 'reserved_room_type',
       'assigned_room_type', 'booking_changes', 'agent',
       'days_in_waiting_list', 'customer_type', 'adr',
       'required_car_parking_spaces', 'total_of_special_requests',
       'reservation_status', 'reservation_status_date', 'cambio_habitac'],
      dtype='object')

# Unknown

In [74]:
columnas = ["reserved_room_type", "agent", "previous_cancellations", 'assigned_room_type']

In [75]:
def fillna_unknown(df, columnas):
    for columna in columnas:
        df[columna] = df[columna].fillna("Unknown")
    return df

In [76]:
fillna_unknown(df, columnas)

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,babies,meal,country,market_segment,distribution_channel,is_repeated_guest,previous_cancellations,previous_bookings_not_canceled,reserved_room_type,assigned_room_type,booking_changes,agent,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,cambio_habitac
0,Resort Hotel,False,342.000000,2015.0,July,27.0,1.0,0.000000,0.000000,2.0,NaN,0.0,BB,PRT,NaN,Direct,First time,0,0,C,C,3,0,0.0,Transient,0.0,0.0,0.0,Check-Out,2015-07-01 00:00:00,equal
1,Resort Hotel,False,737.000000,NaN,July,27.0,1.0,0.000000,0.000000,2.0,NaN,0.0,BB,NaN,NaN,Direct,First time,0,0,Unknown,C,4,0,0.0,Transient,0.0,0.0,0.0,Check-Out,2015-07-01 00:00:00,change
2,Resort Hotel,False,7.000000,2015.0,July,27.0,1.0,0.000000,1.000000,1.0,0.0,0.0,BB,GBR,NaN,Direct,First time,0,0,A,C,0,0,0.0,Transient,75.0,0.0,0.0,Check-Out,2015-07-02 00:00:00,change
3,Resort Hotel,False,13.000000,NaN,July,27.0,1.0,0.000000,1.000000,1.0,NaN,0.0,BB,GBR,Corporate,Corporate,First time,0,0,A,A,0,304,0.0,Transient,75.0,0.0,0.0,Check-Out,2015-07-02 00:00:00,equal
4,Resort Hotel,False,14.000000,NaN,July,NaN,1.0,0.000000,2.000000,2.0,NaN,0.0,BB,NaN,Online TA,TA/TO,First time,0,0,A,A,0,240,0.0,Transient,98.0,0.0,1.0,Check-Out,2015-07-03 00:00:00,equal
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
182872,NaN,NaN,224.337762,NaN,NaN,NaN,NaN,19.005545,19.819823,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,Unknown,Unknown,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,change
182873,NaN,NaN,390.141963,NaN,NaN,NaN,NaN,14.751794,19.989726,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,Unknown,Unknown,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,change
182874,NaN,NaN,230.689826,NaN,NaN,NaN,NaN,11.409496,20.461372,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,Unknown,Unknown,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,change
182875,NaN,NaN,304.888534,NaN,NaN,NaN,NaN,16.744472,15.400773,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,Unknown,Unknown,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,change
182876,NaN,NaN,341.238166,NaN,NaN,NaN,NaN,17.791486,24.442690,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,Unknown,Unknown,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,change