In [ ]:
import pandas as pd
import numpy as np
pd.set_option('display.max_columns', None)

In [ ]:
df = pd.read_csv('../df_primera_limpieza.csv', index_col=0)

In [ ]:
df[df['customer_type']=='Group']['children'].unique()

In [ ]:
df[(df['children']>10)&(df['customer_type']=='Transient')][['children', 'customer_type']]

In [ ]:
df_isna = df[df['previous_cancellations'].isnull()]

df_isna

In [ ]:
df.columns

In [ ]:
df['arrival_date_year'].unique()

In [ ]:
df1 = df.iloc[:, 9:16]
df1.dtypes

In [ ]:
df['assigned_room_type'].value_counts()

In [ ]:
df['distribution_channel'].value_counts()

In [ ]:

df['assigned_room_type'].mode()

In [ ]:
df1.isnull().sum()/df1.shape[0]*100

In [ ]:
df['assigned_room_type'].unique()

In [ ]:
df[df['children'] >0]['assigned_room_type'].unique()

In [ ]:
df[df['children'] == 0]['assigned_room_type'].unique()

In [ ]:
df['agent'].isnull().sum()/df.shape[0]*100

In [ ]:
df['children'].unique()

In [ ]:
df['children'].dropna().agg(['mean', 'median'])

- **Sin niños** no suelen reservar L, P ('room_type')
- Hay más agentes que distribution_channel nulos

In [ ]:
df = pd.read_csv('../df_primera_limpieza.csv', index_col=0)

In [ ]:
df_filtrado.isnull().sum()/df_filtrado.shape[0]*100

In [ ]:
df_filtrado['customer_type'].value_counts()

In [ ]:
porcentaje_aparicion = df_filtrado['customer_type'].value_counts(normalize=True)

# Valores para imputar
valor1 = 'Transient'
valor2 = 'Transient-Party'

# Porcentajes de aparición de los valores
porcentaje_valor1 = porcentaje_aparicion.get(valor1, 0)
porcentaje_valor2 = porcentaje_aparicion.get(valor2, 0)

# Imputar valores nulos basados en los porcentajes
for i, valor in enumerate(df_filtrado['customer_type']):
    if pd.isnull(valor):
        # Generar un número aleatorio entre 0 y 1
        rand = np.random.rand()
        if rand < porcentaje_valor1:
            df_filtrado.loc[i, 'customer_type'] = valor1
        else:
            df_filtrado.loc[i, 'customer_type'] = valor2

display(df_filtrado)

In [ ]:
df_filtrado['customer_type'].isnull().sum()/df_filtrado.shape[0]*100

In [ ]:
df_filtrado['customer_type'].value_counts()

## COMPROBACIONES
LAURA:
- lead_time y booking_changes 
- lead_time y reservation_status
- lead_time, booking_changes  y reservation_status
>----------------
FEDRA:
- lead_time y is_cancelled 
- customer_type y is_cancelled
- assigned_room_type y is_cancelled
>----------------
NEREA:
- is_repeated_guest y is_cancelled
- is_repeated_guest y previous_cancellations, previous_bookings_not_canceled
- country y is_cancelled
>----------------
ISA:
- cuándo hay más llegadas (mes)
- cuándo se hacen más reservas (reservation_status_date)
- promedio de noches por tipo de cliente
- mapa con países que más bookean



### hilos graciosos:
- por qué repiten (is_repeated_guest y meal, etc)

## VISUALIZACIONES

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns

import pandas as pd
pd.set_option('display.max_columns', None)

In [ ]:
df = pd.read_csv('../df_primera_limpieza.csv', index_col=0)

In [ ]:
def periodo_tiempo(valor):
    if valor >= 40:
        return '40-50'
    elif valor >= 30:
        return '30-40'
    elif valor >= 20:
        return '20-30'
    elif valor >= 10:
        return '10-20'
    else:
        return '0-10'

In [ ]:
df['period_stays_week'] = df['stays_in_week_nights'].apply(periodo_tiempo)

In [ ]:
sns.countplot(x='arrival_date_month', data=df, hue='arrival_date_year', order=['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'])
plt.xticks(rotation = 90)

In [ ]:
sns.countplot(x='stays_in_weekend_nights', data=df)
plt.xticks(rotation = 90)

In [ ]:
fig, axes = plt.subplots(nrows = 1, ncols = 2, figsize = (20, 5))
sns.countplot(x='period_stays_week', data=df, ax=axes[0])
sns.countplot(x=df[df['period_stays_week']=='0-10']['stays_in_week_nights'], data=df, ax=axes[1])

In [ ]:
from collections import Counter

# Datos de ejemplo
datos = df['country']

# Contar las ocurrencias de cada elemento
contador = Counter(datos)

# Obtener los cinco elementos más comunes
elementos_comunes = contador.most_common(5)

# Crear un DataFrame de Seaborn
data = {'Elemento': [item[0] for item in elementos_comunes],
        'Frecuencia': [item[1] for item in elementos_comunes]}
df2 = pd.DataFrame(data)

# Crear el gráfico utilizando Seaborn
sns.barplot(x='Elemento', y='Frecuencia', data=df2)
plt.xlabel('País')
plt.ylabel('Frecuencia')
plt.title('5 países que más reservan')
plt.show()

In [ ]:
top5 = df[df['country'].isin(['PRT', 'GBR', 'FRA', 'ESP'])]
sns.countplot(x='country', hue='is_canceled', data=top5)

In [ ]:
df['lead_time'].agg(['min', 'max'])

In [ ]:
def lead_time(valor):
    if valor > 365:
        return '> 1 año'
    elif valor > 330:
        return '> 11 meses'
    elif valor > 300:
        return '> 10 meses'
    elif valor > 270:
        return '> 9 meses'
    elif valor > 240:
        return '> 8 meses'
    elif valor > 210:
        return '> 7 meses'
    elif valor > 180:
        return '> 6 meses'
    elif valor > 150:
        return '> 5 meses'
    elif valor > 120:
        return '> 4 meses'
    elif valor > 90:
        return '> 3 meses'
    elif valor > 60:
        return '> 2 meses'
    elif valor > 30:
        return '> 1 mes'
    else:
        return '< 1 mes'

In [ ]:
df['lead_time_months'] = df['lead_time'].apply(lead_time)

In [ ]:
sns.countplot(x='lead_time_months', 
hue='is_canceled', 
data=df, 
order = [
    '> 1 año',
    '> 11 meses',
    '> 10 meses',
    '> 9 meses',
    '> 8 meses',
    '> 7 meses',
    '> 6 meses',
    '> 5 meses',
    '> 4 meses',
    '> 3 meses',
    '> 2 meses',
    '> 1 mes',
    '< 1 mes'
])
plt.xticks(rotation = 90)

In [ ]:
from scipy.stats import pearsonr


# Calcular la correlación de Pearson
correlacion, valor_p = pearsonr(df['lead_time'], (df['is_canceled']))

print("Coeficiente de correlación de Pearson:", correlacion)
print("Valor p:", valor_p)

## OBSERVACIONES:

**lead_time y is_canceled**
- parece haber una correlación moderada 
- vemos que con más de 8 meses de antelación es más probable que cancelen (en 7 meses ya se acercan el número de True y False)

**arrival_date_month por año**
- 2015: septiembre y octubre
- 2016: octubre con diferencia, seguido de abril
- 2017: mayo

**stays_in_weekends_nights**:
- cómo se van a quedar más de 2?
- la gente se queda sobre todo entre semana
- si se alojan, es el finde entero (2 noches)

**week_nights**:
- suelen quedarse de 0-10 sobre todo; lo que más, 1 o 2 noches

**países desde donde se reservan más**:
- Portugal con diferencia
- Seguido de Gran Bretaña, Francia y España

**country y is_cancelled**:
- En Portugal cancelan más reservas de las que salen adelante

In [1]:
import pandas as pd
import numpy as np


df =pd.read_csv('../df_primera_limpieza.csv')

C:\Users\Isabel\AppData\Local\Temp\ipykernel_11496\3685593101.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [5]:
df['lead_time'].unique()

array([342., 737.,   7.,  13.,  14.,   0.,   9.,  85.,  75.,  23.,  35.,
        68.,  18.,  37.,  12.,  72., 127.,  78.,  48.,  60.,  77.,  99.,
       118.,  95.,  96.,  69.,  45.,  40.,  15.,  36.,  43.,  70.,  16.,
       107.,  47., 113.,  90.,  50.,  93.,  76.,   3.,   1.,  10.,   5.,
        17.,  51.,  71.,  63.,  62., 101.,   2.,  81., 368., 364., 324.,
        79.,  21., 109., 102.,   4.,  98.,  92.,  26.,  73., 115.,  86.,
        52.,  29.,  30.,  33.,  32.,   8., 100.,  44.,  80.,  97.,  64.,
        39.,  34.,  27.,  82.,  94., 110., 111.,  84.,  66., 104.,  28.,
       258., 112.,  65.,  67.,  55.,  88.,  54., 292.,  83., 105., 280.,
       394.,  24., 103., 366., 249.,  22.,  91.,  11., 108., 106.,  31.,
        87.,  41., 304., 117.,  59.,  53.,  58., 116.,  42., 321.,  38.,
        56.,  49., 317.,   6.,  57.,  19.,  25., 315., 123.,  46.,  89.,
        61., 312., 299., 130.,  74., 298., 119.,  20., 286., 136., 129.,
       124., 327., 131., 460., 140., 114., 139., 122., 137., 126., 120.,
       128., 135., 150., 143., 151., 132., 125., 157., 147., 138., 156.,
       164., 346., 159., 160., 161., 333., 381., 149., 154., 297., 163.,
       314., 155., 323., 340., 356., 142., 328., 144., 336., 248., 302.,
       175., 344., 382., 146., 170., 166., 338., 167., 310., 148., 165.,
       172., 171., 145., 121., 178., 305., 173., 152., 354., 347., 158.,
       185., 349., 183., 352., 177., 200., 192., 361., 207., 174., 330.,
       134., 350., 334., 283., 153., 197., 133., 241., 193., 235., 194.,
       261., 260., 216., 169., 209., 238., 215., 141., 189., 187., 223.,
       284., 214., 202., 211., 168., 230., 203., 188., 232., 709., 219.,
       162., 196., 190., 259., 228., 176., 250., 201., 186., 199., 180.,
       206., 205., 224., 222., 182., 210., 275., 212., 229., 218., 208.,
       191., 181., 179., 246., 255., 226., 288., 253., 252., 262., 236.,
       256., 234., 254., 468., 213., 237., 198., 195., 239., 263., 265.,
       274., 217., 220., 307., 221., 233., 257., 227., 276., 225., 264.,
       311., 277., 204., 290., 266., 270., 294., 319., 282., 251., 322.,
       291., 269., 240., 271., 184., 231., 268., 247., 273., 300., 301.,
       267., 244., 306., 293., 309., 272., 242., 295., 285., 243., 308.,
       398., 303., 245., 424., 279., 331., 281., 339., 434., 357., 325.,
       329., 278., 332., 343., 345., 360., 348., 367., 353., 373., 374.,
       406., 400., 326., 379., 399., 316., 341., 320., 385., 355., 363.,
       358., 296., 422., 390., 335., 370., 376., 375., 397., 289., 542.,
       403., 383., 384., 359., 393., 337., 362., 365., 435., 386., 378.,
       313., 351., 287., 471., 462., 411., 450., 318., 372., 371., 454.,
       532., 445., 389., 388., 407., 443., 437., 451., 391., 405., 412.,
       419., 420., 426., 433., 440., 429., 418., 447., 461., 605., 457.,
       475., 464., 482., 626., 489., 496., 503., 510., 517., 524., 531.,
       538., 545., 552., 559., 566., 573., 580., 587., 594., 601., 608.,
       615., 622., 629., 396., 410., 395., 423., 408., 409., 448., 465.,
       387., 414., 476., 479., 467., 490., 493., 478., 504., 507., 458.,
       518., 521., 377., 444., 380., 463.])

In [7]:
df2 = pd.read_csv('../files/finanzas-hotel-bookings.csv', index_col=0)

C:\Users\Isabel\AppData\Local\Temp\ipykernel_11496\512353928.py:1: DtypeWarning: Columns (1,2,5,13,14,15,16,20,21,26,30,32) have mixed types. Specify dtype option on import or set low_memory=False.
  df2 = pd.read_csv('../files/finanzas-hotel-bookings.csv', index_col=0)

In [8]:
df3 = pd.read_csv('../files/df_final.csv', index_col=0)

C:\Users\Isabel\AppData\Local\Temp\ipykernel_11496\3409588261.py:1: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  df3 = pd.read_csv('../files/df_final.csv', index_col=0)

In [11]:
df3.tail()

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,assigned_room_type,booking_changes,agent,days_in_waiting_list,customer_type,average_daily_rate,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
182872,NaN,NaN,224.337762,NaN,NaN,NaN,NaN,19.005545,19.819823,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
182873,NaN,NaN,390.141963,NaN,NaN,NaN,NaN,14.751794,19.989726,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
182874,NaN,NaN,230.689826,NaN,NaN,NaN,NaN,11.409496,20.461372,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
182875,NaN,NaN,304.888534,NaN,NaN,NaN,NaN,16.744472,15.400773,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
182876,NaN,NaN,341.238166,NaN,NaN,NaN,NaN,17.791486,24.442690,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
df2.tail()

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,0
182872,NaN,NaN,224.337762,NaN,NaN,NaN,NaN,19.005545,19.819823,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
182873,NaN,NaN,390.141963,NaN,NaN,NaN,NaN,14.751794,19.989726,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
182874,NaN,NaN,230.689826,NaN,NaN,NaN,NaN,11.409496,20.461372,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
182875,NaN,NaN,304.888534,NaN,NaN,NaN,NaN,16.744472,15.400773,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
182876,NaN,NaN,341.238166,NaN,NaN,NaN,NaN,17.791486,24.442690,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
df.tail()

,Unnamed: 0,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,...,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,0
118000,119385,City Hotel,False,23.0,2017.0,August,35.0,30.0,2.0,5.0,...,394.0,NaN,0.0,NaN,96.14,0.0,0.0,Check-Out,2017-06-09 00:00:00,NaN
118001,119386,City Hotel,False,102.0,NaN,August,35.0,31.0,2.0,5.0,...,9.0,NaN,0.0,Transient,225.43,0.0,2.0,Check-Out,2017-07-09 00:00:00,NaN
118002,119387,City Hotel,False,34.0,2017.0,August,35.0,31.0,2.0,5.0,...,9.0,NaN,0.0,Transient,157.71,0.0,4.0,Check-Out,2017-07-09 00:00:00,NaN
118003,119388,City Hotel,False,109.0,NaN,August,35.0,31.0,2.0,5.0,...,89.0,NaN,0.0,Transient,104.40,0.0,0.0,Check-Out,2017-07-09 00:00:00,NaN
118004,119389,City Hotel,False,205.0,2017.0,August,35.0,29.0,2.0,7.0,...,9.0,NaN,0.0,NaN,151.20,0.0,2.0,Check-Out,2017-07-09 00:00:00,NaN